In [1]:
import numpy as np
import pandas as pd

In [2]:
rnn =[89.9, 99.9, 50.0, 52.3,
      50.7, 55.8, 50.8, 100, 49.8, 49.6, 74.9, 50.3,48.9]
gru = [98.3, 100.0, 50.2, 51.8, 52.5, 100.0, 56.8,
       100.0, 75.8, 74.3, 76.1, 80.3, 71.3]
lstm = [94.3, 100.0, 49.2, 47.5, 50.3, 100.0, 56.4,
        100.0, 74.6, 74.7, 74.2, 78.6, 70.0]
gru_inf = [98.3, 100.0, 70.7, 52.3, 87.9, 100.0, 71.1,
           100.0, 91.6, 78.3, 77.6, 83.2, 73.2]

print("rnn = {:.1f}".format(np.mean(rnn)))
print("gru = {:.1f}".format(np.mean(gru)))
print("lstm = {:.1f}".format(np.mean(lstm)))
print("gru+inf = {:.1f}".format(np.mean(gru_inf)))

rnn = 63.3
gru = 76.0
lstm = 74.6
gru+inf = 83.4

In [3]:
Seq2seq = [65.7, 63.2, 50.8, 52.3, 50.3, 99.8, 50.8,
           100.0, 75.5, 76.4, 76.9, 81.1, 51.4]
Seq2seqAtt = [50.9, 49.5, 50.8, 52.3, 50.3, 99.4, 50.8,
              100.0, 49.8, 74.7, 74.5, 76.8, 51.4]
MemNN = [82.1, 63.2, 50.0, 50.9, 48.7, 99.9, 55.3,
         100.0, 72.8, 72.1, 75.8, 77.2, 58.3]
MemNN_inf = [82.1, 63.2, 52.3, 54.0, 53.0, 99.9, 59.6,
            100.0, 87.9, 76.6, 75.8, 83.0, 63.9]

print("Seq2seq = {:.1f}".format(np.mean(Seq2seq)))
print("Seq2seqAtt = {:.1f}".format(np.mean(Seq2seqAtt)))
print("MemNN = {:.1f}".format(np.mean(MemNN)))
print("MemNN+inf = {:.1f}".format(np.mean(MemNN_inf)))

Seq2seq = 68.8
Seq2seqAtt = 63.9
MemNN = 69.7
MemNN+inf = 73.2

In [4]:
gru_inf = np.array(gru_inf)
gru = np.array(gru)
rnn = np.array(rnn)
lstm = np.array(lstm)
classi = (gru_inf + gru + rnn + lstm) / 4

MemNN_inf = np.array(MemNN_inf)
MemNN = np.array(MemNN)
Seq2seq = np.array(Seq2seq)
Seq2seqAtt = np.array(Seq2seqAtt)
QA = (MemNN_inf + MemNN + Seq2seq+ Seq2seqAtt) / 4

average = (classi + QA) /2 

best_average = (MemNN_inf + gru_inf) /2

In [5]:
templates = [10, 4, 8, 2, 2, 6, 22,4, 8, 4,4,20,52]
vocab_size = [705, 706, 689, 1728, 776, 1421, 1690,734, 743, 1629,
              773, 1791, 1867]
names = ["b1", "b2", "b3", "b4", "b5", "b6", "b11", "b7" , "b8", "b9",
         "b10", "b12", "b13"]

In [6]:
best_bench_class = [np.max(i) for i in zip(gru, lstm, rnn)]
best_bench_QA = [np.max(i) for i in zip(MemNN, Seq2seq, Seq2seqAtt)]

## Difference in classification

In [7]:
class_diff = gru_inf - best_bench_class

class_diff = list(zip(names, class_diff))

for i in class_diff:
    print(i[0], "{:.1f}".format(i[1]))

b1 0.0
b2 0.0
b3 20.5
b4 0.0
b5 35.4
b6 0.0
b11 14.3
b7 0.0
b8 15.8
b9 3.6
b10 1.5
b12 2.9
b13 1.9

## Difference in QA

In [8]:
QA_diff = MemNN_inf - best_bench_QA

QA_diff = list(zip(names, QA_diff))

for i in QA_diff:
    print(i[0], "{:.1f}".format(i[1]))

b1 0.0
b2 0.0
b3 1.5
b4 1.7
b5 2.7
b6 0.0
b11 4.3
b7 0.0
b8 12.4
b9 0.2
b10 -1.1
b12 1.9
b13 5.6

In [9]:
dic_ave ={"names": names,
      "templates": templates,
      "vocab_size": vocab_size,
      "accuracy": average}


dic_classi ={"names": names,
      "templates": templates,
      "vocab_size": vocab_size,
      "accuracy": classi}


dic_QA ={"names": names,
      "templates": templates,
      "vocab_size": vocab_size,
      "accuracy": QA}


dic_best ={"names": names,
      "templates": templates,
      "vocab_size": vocab_size,
      "accuracy": best_average}

In [10]:
df_classi = pd.DataFrame(dic_classi)

df_QA = pd.DataFrame(dic_QA)

df_ave = pd.DataFrame(dic_ave)

df_best = pd.DataFrame(dic_best)

In [11]:
df_classi

   names  templates  vocab_size  accuracy
0     b1         10         705    95.200
1     b2          4         706    99.975
2     b3          8         689    55.025
3     b4          2        1728    50.975
4     b5          2         776    60.350
5     b6          6        1421    88.950
6    b11         22        1690    58.775
7     b7          4         734   100.000
8     b8          8         743    72.950
9     b9          4        1629    69.225
10   b10          4         773    75.700
11   b12         20        1791    73.100
12   b13         52        1867    65.850

In [12]:
df_classi.corr()

            templates  vocab_size  accuracy
templates    1.000000    0.551253 -0.199774
vocab_size   0.551253    1.000000 -0.432908
accuracy    -0.199774   -0.432908  1.000000

In [13]:
df_QA

   names  templates  vocab_size  accuracy
0     b1         10         705    70.200
1     b2          4         706    59.775
2     b3          8         689    50.975
3     b4          2        1728    52.375
4     b5          2         776    50.575
5     b6          6        1421    99.750
6    b11         22        1690    54.125
7     b7          4         734   100.000
8     b8          8         743    71.500
9     b9          4        1629    74.950
10   b10          4         773    75.750
11   b12         20        1791    79.525
12   b13         52        1867    56.250

In [14]:
df_QA.corr()

            templates  vocab_size  accuracy
templates    1.000000    0.551253 -0.220765
vocab_size   0.551253    1.000000 -0.062714
accuracy    -0.220765   -0.062714  1.000000

In [15]:
df_ave

   names  templates  vocab_size  accuracy
0     b1         10         705   82.7000
1     b2          4         706   79.8750
2     b3          8         689   53.0000
3     b4          2        1728   51.6750
4     b5          2         776   55.4625
5     b6          6        1421   94.3500
6    b11         22        1690   56.4500
7     b7          4         734  100.0000
8     b8          8         743   72.2250
9     b9          4        1629   72.0875
10   b10          4         773   75.7250
11   b12         20        1791   76.3125
12   b13         52        1867   61.0500

In [16]:
df_ave.corr()

            templates  vocab_size  accuracy
templates    1.000000    0.551253 -0.230088
vocab_size   0.551253    1.000000 -0.269754
accuracy    -0.230088   -0.269754  1.000000

In [17]:
df_best

   names  templates  vocab_size  accuracy
0     b1         10         705     90.20
1     b2          4         706     81.60
2     b3          8         689     61.50
3     b4          2        1728     53.15
4     b5          2         776     70.45
5     b6          6        1421     99.95
6    b11         22        1690     65.35
7     b7          4         734    100.00
8     b8          8         743     89.75
9     b9          4        1629     77.45
10   b10          4         773     76.70
11   b12         20        1791     83.10
12   b13         52        1867     68.55

In [18]:
df_best.corr()

            templates  vocab_size  accuracy
templates    1.000000    0.551253  -0.19457
vocab_size   0.551253    1.000000  -0.33316
accuracy    -0.194570   -0.333160   1.00000